*{
    padding:0;
    margin:0;
}   
.box{
    width:200px;
    height:200px;
    background-color: red;
    /* margin:10px 0px; */
    /* display: flex */
    /* justify-content: center;*/ 
    /* align-items: center; */
    /* align-self: center; */
}
/* this is child box u cangive */
.flex{
    display: flex;
    gap:10px;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center ;
    align-items: center ;
}
.container{
    background-color: yellow;
    height: 800px;
}
/* .box:nth-child(2){
    /* align-self:flex-start; */
    /* flex-basis: 5; */
/* ?} */
/* .box:nth-child(1){ */
   /* flex-basis: 4; */
/* } */ 
.call-4{
    flex:4;
}
.call-1{
    flex: 1;
}