*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    width:100vw;
}
.box{
    height:100px;
    width:100px;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: red;
}